In [1]:
import numpy as np                      #importing neccessary libraries 
import pandas as pd                       
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv(r"C:\Users\ali umar hasan\Downloads\Assignment_module02 (1).csv")

In [23]:
df.head()

   Points  Score  Weigh
0    3.90  2.620  16.46
1    3.90  2.875  17.02
2    3.85  2.320  18.61
3    3.08  3.215  19.44
4    3.15  3.440  17.02

#  Finding the statistical parameters for the given dataset

In [25]:
df.mean()         #calculating the mean of the dataset

Points     3.596563
Score      3.211562
Weigh     17.848750
dtype: float64

In [26]:
df.median()        #Calculating the median of the datasets

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [27]:
df.mode()         #calculating the mode of the datasets

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [44]:
from scipy import stats

In [45]:
df.var()    #calculating the variance

Points    0.285881
Score     0.932503
Weigh     3.193166
dtype: float64

In [50]:
df.std()  #calculating the standard deviation

Points    0.534679
Score     0.965662
Weigh     1.786943
dtype: float64

In [54]:
range = max(df['Points']) - min(df['Points'])

In [55]:
range # for points column

2.17

In [56]:
range = max(df['Score']) - min(df['Score'])

In [57]:
range   #for Score column

3.832

In [59]:
range = max(df['Weigh']) - min(df['Weigh'])

In [60]:
range   #for Weigh column

8.399999999999999