In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df =pd.read_csv(r"C:\Users\ali umar hasan\Desktop\data science\Data Preprocessing_Assignments\csv's\claimants.csv ")

In [5]:
df.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

# Checking for missing values..

In [10]:
df.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

# Using mean imputer for the discrete or numeric values

In [12]:
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [16]:
df['CLMSEX']=pd.DataFrame(mean_imputer.fit_transform(df[['CLMSEX']]))
df['CLMSEX'].isna().sum()

0

In [18]:
df['CLMINSUR'].isnull().sum()

41

In [19]:
df['CLMINSUR']=pd.DataFrame(mean_imputer.fit_transform(df[['CLMINSUR']]))

In [20]:
df['SEATBELT']=pd.DataFrame(mean_imputer.fit_transform(df[['SEATBELT']]))

In [21]:
df['CLMAGE']=pd.DataFrame(mean_imputer.fit_transform(df[['CLMAGE']]))

In [22]:
df.isnull().sum() #checking for null values in the imputer..

CASENUM     0
ATTORNEY    0
CLMSEX      0
CLMINSUR    0
SEATBELT    0
CLMAGE      0
LOSS        0
dtype: int64

In [23]:
#thus there are no na values..