In [50]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
df = pd.read_csv(r"C:\Users\ali umar hasan\Desktop\data science\Data Preprocessing_Assignments\csv's\Seeds_data.csv")

In [52]:
df.head()

,Area,Perimeter,Compactness,length,Width,Assymetry_coeff,len_ker_grove,Type
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1

In [56]:
df.loc[0:]

,Area,Perimeter,Compactness,length,Width,Assymetry_coeff,len_ker_grove,Type
0,15.26,14.84,0.8710,5.763,3.312,2.221,5.220,1
1,14.88,14.57,0.8811,5.554,3.333,1.018,4.956,1
2,14.29,14.09,0.9050,5.291,3.337,2.699,4.825,1
3,13.84,13.94,0.8955,5.324,3.379,2.259,4.805,1
4,16.14,14.99,0.9034,5.658,3.562,1.355,5.175,1
...,...,...,...,...,...,...,...,...
205,12.19,13.20,0.8783,5.137,2.981,3.631,4.870,3
206,11.23,12.88,0.8511,5.140,2.795,4.325,5.003,3
207,13.20,13.66,0.8883,5.236,3.232,8.315,5.056,3
208,11.84,13.21,0.8521,5.175,2.836,3.598,5.044,3
209,12.30,13.34,0.8684,5.243,2.974,5.637,5.063,3

# Standardizing the values of dataframe

In [37]:
from sklearn.preprocessing import StandardScaler

In [38]:
scaler = StandardScaler() #initializing the scalar

In [57]:
df1 = scaler.fit_transform(df.loc[0:]) #converting the data frame to scaled values

In [58]:
df1

array([[ 1.42097769e-01,  2.15462437e-01,  6.06017918e-05, ...,
        -9.86151745e-01, -3.83577423e-01, -1.22474487e+00],
       [ 1.11880257e-02,  8.22375713e-03,  4.28515270e-01, ...,
        -1.78816620e+00, -9.22013487e-01, -1.22474487e+00],
       [-1.92066576e-01, -3.60200562e-01,  1.44238325e+00, ...,
        -6.67479334e-01, -1.18919199e+00, -1.22474487e+00],
       ...,
       [-5.67570840e-01, -6.90247348e-01,  7.33948301e-01, ...,
         3.07658816e+00, -7.18060432e-01,  1.22474487e+00],
       [-1.03608992e+00, -1.03564515e+00, -8.01701104e-01, ...,
        -6.81351965e-02, -7.42534799e-01,  1.22474487e+00],
       [-8.77620233e-01, -9.35863561e-01, -1.10234659e-01, ...,
         1.29122264e+00, -7.03783718e-01,  1.22474487e+00]])

In [59]:
final_dataset = pd.DataFrame(df1) #converting the arrays into dataframe

In [60]:
final_dataset

,0,1,2,3,4,5,6,7
0,0.142098,0.215462,0.000061,0.304218,0.140671,-0.986152,-0.383577,-1.224745
1,0.011188,0.008224,0.428515,-0.168625,0.196494,-1.788166,-0.922013,-1.224745
2,-0.192067,-0.360201,1.442383,-0.763637,0.207127,-0.667479,-1.189192,-1.224745
3,-0.347091,-0.475333,1.039381,-0.688978,0.318773,-0.960818,-1.229983,-1.224745
4,0.445257,0.330595,1.374509,0.066666,0.805230,-1.563495,-0.475356,-1.224745
...,...,...,...,...,...,...,...,...
205,-0.915515,-1.043321,0.309736,-1.112048,-0.739205,-0.046135,-1.097413,1.224745
206,-1.246235,-1.288937,-0.844122,-1.105261,-1.233636,0.416540,-0.826156,1.224745
207,-0.567571,-0.690247,0.733948,-0.888070,-0.071988,3.076588,-0.718060,1.224745
208,-1.036090,-1.035645,-0.801701,-1.026077,-1.124649,-0.068135,-0.742535,1.224745
209,-0.877620,-0.935864,-0.110235,-0.872233,-0.757812,1.291223,-0.703784,1.224745